.tło{
   background-color: #f5f5dd;
   width: 400px;
   height: 600px;
   margin: auto;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   padding-top: 40px;
   
   
}
.tło div{

width:120px ;
height: 120px;
margin: auto;
margin-top: 10px;
}
#czern{
   
   background-color: rgba(0,0,0,1);
}
#szary{

   background-color: rgba(0,0,0,0.7);
}
#szary2{

   background-color: rgba(0,0,0,0.4);
}
#szary3{

   background-color: rgba(0,0,0,0.2);
}
  


